# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd

# --- Environnements virtuels ---
.env
.venv/
venv/
env/

# --- Jupyter Notebook cache ---
.ipynb_checkpoints/

# --- Streamlit ---
.streamlit/

# --- VSCode ---
.vscode/

# --- MacOS / Windows —
.DS_Store
Thumbs.db

# --- Logs / dumps ---
*.log

# --- Models or large binary files ---
*.bin
*.ckpt

# --- Ngrok ---
ngrok.yml
